/* Stili generali */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f7f3e9;
}

h1, h2 {
    font-weight: 600;
    color: #b3804b;
}

header, .container {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titoli */
h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #666;
    font-size: 1.1em;
}

/* Form Ordine */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Centra il modulo */
}

label {
    font-weight: 600;
    color: #333;
}

input, select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; /* Larghezza massima impostata a 400px */
}

input:focus, select:focus {
    outline: none;
    border-color: #b3804b;
    box-shadow: 0 0 5px rgba(179, 128, 75, 0.5);
}


/* Pulsante di Invio */
button {
    background-color: #b3804b;
    color: #fff;
    padding: 12px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

button:hover {
    background-color: #9e6a3c;
}

/* Stili di Conferma */
.confirmation {
    text-align: center;
    padding: 30px;
    background-color: #e0d4c2;
    border-radius: 10px;
    margin: 20px auto;
}

.confirmation p {
    color: #333;
    font-size: 1.2em;
    margin-top: 10px;
}

.confirmation .checkmark {
    color: green;
    font-size: 3em;
    display: block;
    margin-bottom: 20px;
}

/* Stile per la pagina di conferma */
.confirmation-message {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}
